.obsidian/
.obsidian/hotkeys.json
.vault-stats
.DS_Store
library/.DS_Store
library/notes.baldurbjarnason.com/.DS_Store
.obsidian/appearance.json
.obsidian/workspace
.vault-stats
.obsidian/core-plugins/
.obsidian/plugins/
.obsidian/core-plugins.json
.obsidian/plugins/code-block-copy/main.js
.obsidian/plugins/obsidian-leaflet-plugin/main.js
.obsidian/plugins/obsidian-leaflet-plugin/manifest.json
.obsidian/plugins/obsidian-leaflet-plugin/styles.css
.obsidian/plugins/obsidian-minimal-settings/data.json
.obsidian/plugins/obsidian-style-settings/main.js
.obsidian/plugins/obsidian-style-settings/manifest.json
