{{- define "footer"}}
          </article>
        </div>
      </main>
      <footer class="site-footer outer">
        <div class="site-footer-content inner">
          <section class="copyright"><a href="https://feneas.org">Federated Networks Association</a> © 2019</section>
          <nav class="site-footer-nav">
            <a href="https://feneas.org">Latest Posts</a>
            <a href="https://feneas.org/coc" target="_blank" rel="noopener">Code of conduct</a>
            <a href="https://feneas.org/privacy" target="_blank" rel="noopener">Privacy policy</a>
            <a href="https://feneas.org/rules" target="_blank" rel="noopener">Association rules</a>
          </nav>
        </div>
      </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </body>
</html>
{{- end}}
