/* What The Fuck Typekit /*

- [Chaff](https://chaff.writeas.com/what-the-fuck-typekit)

Project ID: `vxn4qnp`

> This project includes 12 fonts from 3 web font families.

*/


<link rel="stylesheet" href="https://use.typekit.net/vxn4qnp.css">

<style>
  @import url("https://use.typekit.net/vxn4qnp.css");
</style>


/* Adobe Caslon` Pro */

font-family: adobe-caslon-pro, serif;

font-family: adobe-caslon-pro, serif;
font-weight: 400;
font-style: normal;

font-family: adobe-caslon-pro, serif;
font-weight: 400;
font-style: italic;

font-family: adobe-caslon-pro, serif;
font-weight: 700;
font-style: normal;

font-family: adobe-caslon-pro, serif;
font-weight: 700;
font-style: italic;


/* Aktiv Grotesk */

font-family: aktiv-grotesk, sans-serif;

font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: normal;

font-family: aktiv-grotesk, sans-serif;
font-weight: 300;
font-style: italic;

font-family: aktiv-grotesk, sans-serif;
font-weight: 500;
font-style: italic;

font-family: aktiv-grotesk, sans-serif;
font-weight: 500;
font-style: normal;

font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: italic;

font-family: aktiv-grotesk, sans-serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk, sans-serif;
font-weight: 700;
font-style: normal;

font-family: aktiv-grotesk, sans-serif;
font-weight: 700;
font-style: normal;


/* Aktiv-Grotesk-Condensed */

font-family: aktiv-grotesk-condensed, sans-serif;
font-weight: 700;
font-style: italic;

font-family: aktiv-grotesk-condensed, sans-serif;
font-weight: 700;
font-style: italic;

font-family: aktiv-grotesk-condensed, sans-serif;
font-weight: 700;
font-style: normal;

font-family: aktiv-grotesk-condensed, sans-serif;
font-weight: 400;
font-style: normal;

font-family: aktiv-grotesk-condensed, sans-serif;
font-weight: 400;
font-style: italic