
---
layout: layout
---

<main class="contents u-center u-height">
  <img src="/img/ball.jpg" alt="crystall ball" style="width: 200px; height: auto;">
  <h2>Hello, I'm Fediverse Crystal Ball</h2>
  <p> 🌠 I know all the answers to one Question: 🌠</p>

  <h4 class="question u-blackBg"> Why should you start using Fediverse networks ?</h4>

  <button id="getReason" class="btn btn-action u-emphasize question" title="get answer" >GET ANSWER</button>
  <h3 id="reason" class="question">?</h3>
</main>
