
<input name="popup" id="overlay2" class="overlay" type="radio">
  <div class="share-wrapper">
    <div class="u-hidden">
      <div class="share">
        <label class="dex-btn rounded diaspora" title="Share this page on Diaspora" for="diaspora-share">
          <svg role="img" class="dex-icon">
            <use xlink:href="#icon-diaspora"></use>
          </svg>
        </label>
        <input name="popup" id="diaspora-share" class="hidden" type="radio">
        <span class="popup" id="dForm">
          <label for="overlay2"></label>
          <input name="podurl" value="" placeholder="Diaspora URL (nerdpol.ch)" type="text"><button class="share-btn" type="submit" value="diaspora">OK</button>
        </span>
      </div>
      <div class="share">
        <label class="dex-btn rounded mastodon" title="Share this page on Mastodon" for="mastodon-share">
          <svg role="img" class="dex-icon">
            <use xlink:href="#icon-mastodon"></use>
          </svg>
        </label>
        <input name="popup" id="mastodon-share" class="hidden" type="radio">
        <span class="popup" id="mForm">
          <label for="overlay2"></label>
          <input name="podurl" value="" placeholder="Mastodon URL (witches.town)" type="text"><button class="share-btn" type="submit"  value="mastodon">OK</button>
        </span>
      </div>
      <div class="share">
        <label class="dex-btn rounded hubzilla" title="Share this page on Hubzilla" for="hubzilla-share">
          <svg role="img" class="dex-icon">
            <use xlink:href="#icon-hubzilla"></use>
          </svg>
        </label>
        <input name="popup" id="hubzilla-share" class="hidden" type="radio">
        <span class="popup" id="hForm">
          <label for="overlay2"></label>
          <input name="podurl" value="" placeholder="Hubzilla URL (gerzilla.de)" type="text"><button class="share-btn" type="submit"  value="hubzilla">OK</button>
        </span>
      </div>
      <div class="share">
        <label class="dex-btn rounded gnusocial" title="Share this page on GNU Social" for="gnusocial-share">
          <svg role="img" class="dex-icon">
            <use xlink:href="#icon-gnusocial"></use>
          </svg>
        </label>
        <input name="popup" id="gnusocial-share" class="hidden" type="radio">
        <span class="popup" id="gForm">
          <label for="overlay2"></label>
          <input name="podurl" value="" placeholder="GNU Social URL (quitter.se)" type="text"><button class="share-btn" type="submit"  value="gnusocial">OK</button>
        </span>
      </div>
      <div class="share">
        <label class="dex-btn rounded friendica" title="Share this page on Friendica" for="friendica-share">
          <svg role="img" class="dex-icon">
            <use xlink:href="#icon-friendica"></use>
          </svg>
        </label>
        <input name="popup" id="friendica-share" class="hidden" type="radio">
        <span class="popup" id="fForm">
          <label for="overlay2"></label>
          <input name="podurl" value="" placeholder="Friendica URL (libranet.de)" type="text"><button class="share-btn" type="submit"  value="friendica">OK</button>
        </span>
      </div>
      <div class="share">
        <label class="dex-btn rounded socialhome" title="Share this page on Socialhome" for="socialhome-share">
          <svg role="img" class="dex-icon">
            <use xlink:href="#icon-socialhome"></use>
          </svg>
        </label>
        <input name="popup" id="socialhome-share" class="hidden" type="radio">
        <span class="popup" id="sForm">
          <label for="overlay2"></label>
          <input name="podurl" value="" placeholder="Socialhome URL (socialhome.network)" type="text"><button class="share-btn" type="submit" value="socialhome">OK</button>
        </span>
      </div>
    </div>
    <% if (is_root()) { %>
    <div id="share" class="share__toggle">
      <p>share</p>
      <svg class="icon-share" role="img" aria-labelledby="f-share">
        <title id="f-share">share icon</title>
        <use xlink:href="#icon-share">
      </svg>
    </div>
    <% } %>
  </div>
