
.question {
  margin-top: 1em;
}

h4.question {
  font-family: $font-primary;
}

.btn {
  cursor: pointer;
  padding: 7px 20px;
  font-size: 1.05rem;
  line-height: 1.7;
  color: $black;
    &:hover,
    &:focus,
    &:active {
      color: $golden;
    }
}

.fadeIn {
  animation: fadeIn 2.5s ease-in both;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
