
// $zIndex-1: -1;

$zIndex--1: 1; // footer, .card
$zIndex--2: 2; // .main__container:after
$zIndex--3: 3; // .grid, no-js
$zIndex--4: 4; // navbar, trigger, aside, .card:focus
$zIndex--5: 5; // .card__content:before, .card__content:after
